.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #E63946;
  border: 1px solid #E63946;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #A5000D;
  border-color: #A5000D;
}
